@media screen and (max-width: 1070px){
	.firstBlockMother{
		height: 565px;
	}
	.welcometitleOne{
		font-size: 2.25rem;
	}
	.secondBlockMother{
		height: 555px;
	}
	.secondBlockPicture{
		margin-left: 136px;
		margin-top: 50px;
	}
	.secondBlockPictureMom{
		max-width: 830px;
	}
	.fourthBlockDivTwoLeft{
		margin-left: 7%;
		width: 87%;
	}

	..fourthBlockDivTwo{
		height: 400px;
	}
	.fourthBlockDivTwoLeft img{
		float: left;
		margin-right: 5%;
	}
	.fourthBlockDivTwoRight{
		margin-left: 7%;
		margin-top: 6%;
		width: 87%;
	}
	.fourthBlockDivTwoRight img{
		float: left;
		margin-right: 5%;
	}
	.fourthBlockMother{
		height: 535px;
	}
	.fifthBlockMother{
		height: 550px;
	}
	.fifthBlockLeft{
		text-align: center;
		height: 220px;
		width: 100%;
		font-size: 10px;
	}
	.fifthBlockLeft p{
		font-size: 1.2rem;
	}
	.fifthBlockRight{
		width: 100%;
	}
	.fifthBlockRight img{
		margin-left: 17%;
	}
	.seventhBlockMother{
		height: 851px;
	}
	.seventhBlockBottom{
		background: white;	
	}
	..seventhBlockBottom img{
		margin-top: 0;
	}
    .seventhBlockBottomSonOne{
		width: 85%;
		float: none;
		height: 210px;
		padding-top: 20px;
		border-bottom: 1px rgb(222,222,222) solid;
        background: #f5f5f5;
	}
	.seventhBlockBottomSonTwo{
		width: 85%;
        background: #f5f5f5;
        height: 210px;
		padding-top: 20px;
		border-bottom: 1px rgb(222,222,222) solid;
		float: none;
	}
	.seventhBlockBottomSonThree{
		width: 85%;
        background: #f5f5f5;
        height: 210px;
		padding-top: 20px;
		border-bottom: 1px rgb(222,222,222) solid;
		float: none;
	}
	.lectureDivLetter h1{
		font-size: 2rem;
		


	}
	@media screen and (max-width:980px) {
		.firstBlockMother{
			background-width:1068px;
				
		}
		.firstBlockDiv{
			width: 80%;
		}
		.firstBlockInput{
			width: 100%;
		}
		
	}
	@media screen and (max-width:767px) {
		/*.headerLiTwo,.headerLiThree,.headerLiFour,.headerLiFive,.headerLiSix,.headerLiSeven,.headerLiEight{*/
			
		.NoneDiv li{
			display: none;
		}
		.headerLiOne a{
			background-image: url(../Pic/=.png);
		}
		.headerLiOne a:hover{
			background-image: url(../Pic/=hover.png);
		}
		.NoneDiv{
			width: 20px;
			height: 44px;	
			float: left;
			margin-left: 40%;
			background-image: url(../Pic/bigapple.png);;
		}
		.NoneDiv:hover{
			background-image: url(../Pic/biggrayapple.png);
		}
		.none{
			display: none;
		}
		.footerMiddleDivMiddleSon h3{
			display: none;
		}
		.footerMiddleDivMiddleSon{
			width: 90%;
			height: 38px;
            border-top: #bbbabe 1px solid;
            border-bottom: #bbbabe 1px solid;


		}
		.footerMiddleDivMiddleSon li{
			width: 63px;
			height: 38px;
		}
		.service{
			float: left;
			background-image: url(../Pic/littleFooterOne.png);
			background-width:63px;

		}
		.plan{
			float: left;
			background-image: url(../Pic/littleFooterTwo.png);
			background-width:29px;

		}
		
		.resourse{
			float: left;
			background-image: url(../Pic/littleFooterThree.png);
			background-width:27px;

		}
		.colume{
			float: left;
			background-image: url(../Pic/littleFooterFour.png);
			background-width:38px;
		}
		.plus{
			float: right;
			width: 63px;
			height: 38px;
			background-image: url(../Pic/plus.png);
			background-width:15px;

		}

	}

	







































































































}