.cont{
    margin-top: -6px;
    width: 100%;
    height: 100%;
    min-width: 446px;
}
.header{
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 9999;
    display: block;
    height: 48px;
    max-height: 44px;
    font-size: 18px;
    user-select: none;
    margin: 0px;
    background: #333;
}
.header ul{
    display: block;
    height: 47px;

  /*  margin-left: 10%;
    margin-top: 0.8%;*/	
    max-width: 980px;
    margin: 0 auto;
}
.clearfix:after{
    clear: both;
}
.header ul a{
	float: left;
	margin-left: 7.5%;

}
.appleimages{
    height: 44px;

}
.headerLi{
    width: 7.332585%;
    height: 44px;
    margin-top: 0;
    margin-left: 4.715%;
    float: left;
}

.headerLi a{
    color: white;
    font-size: 14px;
    float: right;
}
.headerLi p{
    font-size: 14px;
    margin-top: 12px;
    width: 71px;
}
.headerLiEight{
    width: 60px;
}
.headerLi span{
    display: block;
    margin-top: 13px;
    width: 50px;
    height: 29px;
    font-weight: 10;

}
.headerLiOne{
    margin-left: 0;

}
.headerLiNine{
    margin-right: 0;
    float: right;
    width: 25px;
}
.headerLiOne img{
    margin-top: 3px;
}
.headerLiOne a{

    display: block;
    height: 32px;
    width: 21px;
    background: url("../images/image_small 1.svg");

}
.headerLiOne a:hover{
    background: url("../images/biggrayapple.png");
}
.headerLiSeven p{
    color:#6e6e6f;
}
.headerLiEight a{
    display: block;
    height: 32px;
    width: 21px;
    background-image: url("../images/image_large.svg");

}
.headerLiEight a:hover{
    background-image: url("../images/search.png");
}
.headerLiNine a{
    display: block;
    height: 32px;
    width: 19px;
    margin-top: 5%;
    background-image: url("../images/image_large 6.svg");
}
.headerLiNine a:hover{
    background-image: url("../images/bag.png");
}
/*.headerLiOne{
    image-rendering: url(../images/apple.png)
}*/
/*
.headerLiTwo a{
    background-image: url(../images/image_large 8.svg);
}
.headerLiThree a{
    background-image: url(../images/image_large 5.svg);
}
.headerLiFour a{
    background-image: url(../images/image_large 9.svg);
}
.headerLiFive a{
    background-image: url(../images/image_large 3.svg);
}
.headerLiSix a{
    background-image: url(../images/image_large 2.svg);
}

.headerLiEight a{
    background-image: url(../images/image_large.svg);
}
.headerLiNine a{
    background-image: url(../images/image_large 6.svg);
}*/
.blank{
    height: 0px;
    margin-top: 50px;
}

/*.header a{
	color: white;
}*/


.clearfix:after{
    clear:both;
}
.headerSpecialSpan{
    color:  #6e6e6f;
    line-height: 44px;
    font-size: 2px;
}
.headerLi a:hover{
    text-decoration:none;
    color:  #6e6e6f;
}
.firstBlockMother{
    width: 100%;
    height: 625px;
    background: url(../images/homepage-hero.image.large_2x.jpg);
    background-size:1800px 680px;
    background-position: center;
}
.floatMother{
    height: 50px;
}
.floatMother span,li{
    font-size: 8px;

}
.floatMiddleDiv{
    max-width: 980px;
    margin: 0 auto;    
    height: 55px;
    margin:0 auto;
    border-bottom: #bbbabe 1px solid;
}
.floatSonSpan{
    float: left;
    height: 48px;
    font-size: 5px;
    margin-top: 15px;
}
.floatSonDiv{
    float: right;
    width: 100px;
    height: 48px;
    font-size: 5px;
    margin-right: 0;
    margin-top: 15px;

}
.floatSonDiv a:hover{
    color: #08c;
    text-decoration: none;
}
.floatGrandsonLi{
    float: left;
    margin-left: 10%;
}
.firstLittleLine{
    width: 95%;
    height: 1px;
    background: rgba(153,153,153,0.4);
    margin-left: 4.1%;
}
.firstBlockChar{
    height: 246px;
    text-align: center;
    width: 100%;
}
.welcometitleOne{
    width: 100%;
    font-weight: 300;
    margin-top: 3%;
    font-size: 3rem;
}
.welcometitleTwo{
    font-weight: 200;
    margin-top: 3%;
    margin-bottom: 4%;
    font-size: 1.5rem;
}

.firstBlockInput{
    height: 52px;
    width: 700px;
    padding-left: 25px;
    background-image: url(../images/search_icon_black 1.svg);
    outline: 0;
    border-radius: 0px;
    letter-spacing: normal;
    color: #999;
    float: left;
    margin:0 auto;
    font-size: 20px;
}
<!--[if IE 9]>
    .firstBlockInput{
        background: white;
        border:0;
    }

<![endif]-->

.firstBlockDivMother{
    margin-top: -1%;
    width: 300px;
    height: 56px;
    margin:4% auto;
}
.firstBlockDiv{
    margin:0 auto;
    width: 729px;

    height: 56px;
}


.secondBlockMother{
    height: 340px;
}
.secondBlockLetter{
    width: 150px;
    margin:0 auto;
    margin-top:5%;
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 5%;
}
.secondBlockimagestureMom{
    max-width: 1024px;
    height: 244px;
    margin:0 auto;
}
.productionSpanAppleWatch{
    margin-left: 11%;
}
.productionSpanIphone{
    margin-left: 18%;

}
.productionSpanIpad{
    margin-left: 40%;
}
.productionSpanMac{
    margin-left: 50%;

}
.productionSpanAppleID{
    margin-left: 15%;
}
.productionSpanITunes{
    margin-left: 20%;
}
.secondBlockimagesture {
    float: left;
    margin-left: 4.5%;
    width: 120px;
    height: 168px;
}
.secondBlockimagesture a{
    width: 157px;
    height: 179px;
    font-size:15px;
    color: #666;
}
.secondBlockimagesture span{
    color: #666;
    text-align: center;
}
.secondBlockimagestureOne{
    margin-left: 30px;
    width: 65px;
    height: 139px;
}
.secondBlockimagestureTwo{
    width: 92px;
    height: 139px;
}
.secondBlockimagestureThree{
    width: 126px;
    height: 139px;
}
.secondBlockimagestureFour{
    width: 141px;
    height: 139px;
}
.secondBlockimagestureFive{
    width: 96px;
    height: 139px;
}
.secondBlockimagestureSix{
    width: 96px;
    height: 139px;
}
.secondBlockMiddleimages{
    width: 
}



.thirdBlockMother{
    width: 100%;
    height: 200px;
}
.secondLittleLine{
    width: 100%;
    height: 1px;
    background: #d9dadc;
}
.thirdBlockLetter{
    display: block;
    margin: 0 auto;
    color: #08c;
    width: 154px;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 13px;
}
.thirdBlockMother a:hover{
    text-decoration: none;
}
.thirdBlockSpan{
    font-size: 20px;

}
.thirdBlockLine{
    width: 100%;
    height: 0px;
    border-top: 0.5px #d9dadc solid;
}
.fourthBlockH1{
    font-weight: 200;
    font-size: 37px;
    margin-top: 60px;
    width: 200px;
    margin: 0 auto;

}
.fourthBlockMother{
    border-bottom: #dedede 1px solid;
    height: 480px;
}
.fourthBlockDivOne{
    padding-bottom: 70px;
}
.fourthBlockDivTwo{
    margin:0 auto;
    max-width: 980px;
    height:345px;
}
.fourthBlockDivTwo img{
    width: 240px;
    height: 150px;
}
.fourthBlockDivTwoLeft{
    width: 46%;
    margin-left: 3%;
    float: left;
}
.fourthBlockDivTwoLeft img{
    margin:0 auto;
}
.fourthBlockDivTwoRight{
    width: 400px;
    margin-left: 79px;
    float: left;
}

.fourthBlockH2 {
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 1rem;
}
.fourthBlockH3 {
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 1rem;
}
.fourthBlockDivTwoLeft div p{
    font-size: 15px;
    line-height: 1.75;
    font-weight: 400;
    color: #333;
}
.fourthBlockDivTwo h1{
    margin-top: 10px;
}
.fourthBlockDivTwo p{
    font-size: 15px;
    line-height: 1.75;
    margin-bottom: 15px;
    font-weight: 400;
    color: #333;
}
.fourthBlockDivTwo a{
    font-size: 1rem;
    color: #08c;
    margin-top: 50px;
}
.fifthBlockMother{
    border-bottom: #dedede 1px solid;
    height: 367px;
}
.fifthBlockMiddleDiv{
    max-width: 730px;
    max-height: 450px;
    margin:0 auto;
    padding-top: 54px;
}
.fifthBlockLeft{
    width: 55%;
    float: left;
}
.fifthBlockLeft a:hover{
    color: #08c;
}
.fifthBlockLeft h1{
    font-size: 2.5rem;
    line-height: 1.3;
    margin-bottom: .7em;
    font-weight: 200;
}
.fifthBlockLeft p{
    font-size: 1.3rem;
    line-height: 2;
    font-weight: 200;
    margin-bottom: 7%;
}
.fifthBlockLeft span{
font-size:0.9rem;
color: #08c;
}
.fifthBlockRight{
    width: 45%;
    float: right;
    margin-left: 0;
}
.fifthBlockRight img{
    height: 212px;
}
.sixthBlockMother{
    width: 100%;
    height: 330px;
    border-bottom: #dedede 1px solid;
}
.sixthMiddleBlock{
    width: 75%;
    height: 370px;
    margin:0 auto;

}
.sixthMiddleBlock img{
    display: block;
    width: 80px;
    margin:88px auto;
    margin-bottom: 20px;
    height: 80px;

}

.sixthBlockBottom{
    height: 184px;

}

.sixthBlockBottom h1{
    font-weight: 200;
    margin-bottom: 30px;
    letter-spacing: -0.014em;
    font-weight: 200;
    text-align: center;
    letter-spacing: -0.014em;
    font-size: 48px;
    line-height: 1.125;
}
.sixthBlockBottom p{
    font-weight: 400;
    color: #333;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.45;

}
.sixthBlockBottomA{
margin: 0 auto;
            display: block;
            width: 84px;}
.sixthBlockBottomA a{
    font-size: 15px;
}
.sixthBlockBottomA a:hover{
    color: #08c;
}
.sixthBlockBottomA span{
    color: #08c;

}
.seventhBlockMother{
    width: 100%;
    height: 490px;
    border-bottom: #dedede 1px solid;
}
.seventhBlockTop,.seventhBlockBottom{
    text-align: center;
    max-width: 980px;
    margin:0 auto;
}
.seventhBlockTop{
    margin-top: 48px;
    margin-bottom: 50px;
}

.seventhBlockTop h1{
    margin-top: 48px;
    padding-bottom: 18px;
    font-weight: 400;
    letter-spacing: -0.014em;
    font-size: 2.8rem;
    line-height: 1.125;
}
.seventhBlockTop p{
    margin-top: 18px;
    font-size: 1rem;
    line-height: 1.45;
}
.seventhBlockBottom{
    background: #f5f5f5;
    height: 242px;
}
.seventhBlockBottom a:hover{
    color: #08c;
}
.seventhBlockBottom p{
    color: #555!important;
}

.seventhBlockBottom img{
    display: block;
    width: 40px;
    margin:30px auto;
}
 
.seventhBlockBottomSonOne {
    float: left;
    width: 29%;
    padding-left: 2%;
    padding-right: 2%;
    height: 162px;
}
.seventhBlockBottomSonTwo {
    float: left;
    width: 29%;
    padding-left: 2%;
    padding-right: 2%;
    height: 162px;
}
.seventhBlockBottomSonThree {
    float: left;
    width: 29%;
    padding-left: 2%;
    padding-right: 2%;
    height: 162px;
}
.seventhBlockBottom p{
    margin:10px 0;
}
.seventhBlockBottom span:hover{
    color: #08c;

}
.seventhBlockBottom h1{
    font-weight: 600;
    font-size: 1rem;
}
.seventhBlockBottom h1:hover{
    color: #08c;
}
/*.seventhBlockBottom span:hover{
    color: #08c;
}*/
.seventhBlockBottom p:hover{
    text-decoration:none;
    color: #555;

}
.seventhBlockBottom >a{
    width: 100%;
    height: 100%;
}
.#08cSpan{
    color: #08c;
}
.getHelpDivMother{
    height: 280px;
    border-bottom: #dedede 1px solid;
}
.getHelpH1 h1{
    font-size: 19px;
    margin-top: 50px;
    margin-bottom: 27px;
    text-align: center;
    font-weight: 100;
}
.getHelpMiddleDiv{
    max-width: 510px;
    height: 310px;
    margin:0 auto;
}
.getHelpH2P1 h2{
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;

}
.getHelpH2P1 p{
    font-size: 16px;
    margin-bottom: 25px;
    text-align: center;
}
.getHelpButtonDiv{
    height: 30px;
    width: 100px;
    margin: 0 auto;
}
.getHelpButtonDiv button{
    top:0;
    bottom:0;
    color: white;
    width: 87px;
    height: 35px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-shadow: rgba(28, 115, 184, 0.639216) 0px 1px 1px;
    white-space: nowrap;
    background: linear-gradient(rgb(66, 161, 236), rgb(0, 112, 201));
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 119, 204);
    border-image: initial;
    border-radius: 4px;
    padding: 0px 15px;
}
.lectureDiv{
    height: 600px;
    width: 100%;
    border-bottom: #dedede 1px solid;
}
.lectureMiddleDiv{
    height: 430px;
    max-width: 1203px;
    margin:0 auto;
    padding:;
    background-image: url(../images/lecture.png);
    background-width:965px;
    background-position:-15px 0;
}
.lectureDivLetter{
    height: 135px;
}
.lectureDivLetter h1{
    font-weight: 200;
    font-size: 3rem;
    margin-bottom: 25px;
}
.lectureDivLetter p{
    margin-bottom: 25px;
    font-size: 1rem;
}
.lectureDivLetter a{
    color: #08c;
    font-weight: 400;
    font-size: 1rem;
}
.lectureMiddleFloatDiv{
    width: 100%;
    height: 150px;
    float: left;
    margin-top: 12%;

}
.lectureDivLetterMother{
    width: 83%;
    height: 140px;
    margin:0 auto;
}
.lectureBlockDivBottom{
    width: 100%;
    height: 170px;
}
.lectureBlockDivBottomMiddle{
    padding-top: 40px;
    width: 40%;
    height: 170px;
    margin:0 auto;
}
.lectureBlockDivBottomMiddle h2{
    font-size: 1.2rem;
    text-align: center;
}
.lectureBlockDivBottomMiddleBottom{
    margin-top: 8%;
    height: 50px;
    color: #08c;
}
.lectureBlockDivBottomMiddleBottom a{
    display: block;
    width: 120px;
    margin: 0 auto;
}
.lectureBlockDivBottomMiddleBottom a:hover{
    color: #08c;
}
.lectureBlockDivBottomMiddleBottom span{
    color: #08c;

}
.expandPlanDiv{
    height: 380px;
    border-bottom: #dedede 1px solid;
}
.expandPlanMiddleDiv{
    text-align:center;
    width: 300px;
    height: 330px;
    margin:0 auto;
    padding-top: 48px;
}
.expandPlanMiddleDiv a:hover{
    color: #08c;
}
.expandPlanMiddleDiv h2{
    margin-bottom: 50px;
    font-size: 1.3rem;
}
.expandPlanMiddleDiv li{
    color: #08c;
    font-size: 14px;
    margin-bottom: 20px;
}
.footer{
    height:300px;
    background: #f1f1f1;
}
.footerMiddleDiv{
    width: 80%;
    height: 302px;
    margin-left: 13%;
}
.footerMiddleDivTop{
    width: 100%;
    height: 24px;
    padding:20px 0;
}
.footerMiddleDivMiddle{
    width: 100%;
    height: 142px;
}
.footerMiddleDivBottom{
    width: 100%;
    height: 94px;
    font-size: 11px;
}
.footerMiddleDivMiddleSon{
    width: 25%;
    height: 142px;
    float: left; 
}
.footerMiddleDivMiddleSon li{
    margin-bottom: 2px;
    font-size: 11px;
}
.footerMiddleDivBottomTop{
    border-bottom: #dedede solid 1px;
    height: 30px;
}
.footerMiddleDivBottomBottom{
    margin-top: 15px;
}
.footerMiddleDivBottomBottom div{

}
.footerMiddleDivBottomBottom p{
    color: #999;
    float: left;
}
.footerMiddleDivBottomTop p{
    float: left;
}

.footerMiddleDivBottomTop a{
    float: left;}
.footerMiddleDivBottomTop span:hover{
    color: #333;
    text-decoration: underline;
}
.footerMiddleDivBottomTop a:hover{
    text-decoration: none;
}
.footerMiddleDivBottomBottom a{
    float: right;
}
.footerMiddleDivMiddleSon h3{
    font-weight: 600;
    margin-bottom: 8px;

}

.footerMiddleDivBottomTop span{
    color: #08c;

}
.footerMiddleDivBottomTop p{
    color: #999;
}
.footerMiddleBottomBottomLeftDiv a{
    color: #333;
    float: left;

}
.footerMiddleBottomBottomLeftDiv {
    float: left;
}
.footerMiddleBottomBottomLeftDiv p{
    float: left;
}
.footerMiddleBottomBottomRightDiv{
    float: right;
}
.footerMiddleBottomBottomRightDiv img{
    width:  16px;
    height: 16px;
}
.footerMiddleBottomBottomLeftDiv{
    width: 360px;
    height: 20px;
    margin-left: 4%;
}
.footerMiddleBottomBottomLeftDiv a{
    margin-right: 10px;

}
.footerMiddleBottomBottomLeftDiv div{
    width: 70px;
    height: 14px;
    border-right: 1px solid #d6d6d6;
    float: left;
}
.hiddenFooter{
    display: none;
}
