.cont{
    margin-top: -6px;
    width: 100%;
    height: 100%;
}
.header{
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 9999;
    display: block;
    width: 100%;
    height: 48px;
    max-height: 44px;
    font-size: 18px;
    user-select: none;
    margin: 0px;
    background: #333;
}
.header ul{
    display: block;
    width: 80%;
    height: 47px;

  /*  margin-left: 10%;
    margin-top: 0.8%;*/	
    margin: 0 auto;
}
.clearfix:after{
    clear: both;
}
.header ul a{
	float: left;
	margin-left: 7.5%;

}
.applePic{
    height: 44px;

}
.headerLi{
    width: 52px;
    height: 44px;
    margin-top: 0;
    margin-left: 6%;
    float: left;
}

.headerLi a{
    color: white;
    font-size: 17px;
}
.headerLi p{
    font-size: 15px;
    margin-top: 15px;
    width: 71px;
}
.headerLiEight{
    width: 60px;
}
.headerLi span{
    display: block;
    margin-top: 13px;
    width: 50px;
    height: 29px;
    font-weight: 10;

}
.headerLiOne img{
    margin-top: 3px;
}
.headerLiOne a{

    display: block;
    height: 32px;
    width: 21px;
    background: url("../Pic/image_small 1.svg");

}
.headerLiOne a:hover{
    background: url("../Pic/apple.png");
}
/*.headerLiOne{
    image-rendering: url(../Pic/apple.png)
}*/
/*
.headerLiTwo a{
    background-image: url(../Pic/image_large 8.svg);
}
.headerLiThree a{
    background-image: url(../Pic/image_large 5.svg);
}
.headerLiFour a{
    background-image: url(../Pic/image_large 9.svg);
}
.headerLiFive a{
    background-image: url(../Pic/image_large 3.svg);
}
.headerLiSix a{
    background-image: url(../Pic/image_large 2.svg);
}

.headerLiEight a{
    background-image: url(../Pic/image_large.svg);
}
.headerLiNine a{
    background-image: url(../Pic/image_large 6.svg);
}*/
.blank{
    height: 0px;
    margin-top: 50px;
}

/*.header a{
	color: white;
}*/


.clearfix:after{
    clear:both;
}
.headerSpecialSpan{
    color:  #6e6e6f;
    line-height: 44px;
    font-size: 2px;
}
.headerLi a:hover{
    text-decoration:none;
    color:  #6e6e6f;
}
.firstBlockMother{
    width: 100%;
    height: 625px;
    background: url(../Pic/QQ截图20161028164717.png);
    background-size: 100% 100%;
}
.floatMother{
    height: 50px;
}
.floatMother span,li{
    font-size: 13px;

}
.floatMiddleDiv{
    width: 73.6%;
    height: 55px;
    margin:0 auto;
}
.floatSonSpan{
    float: left;
    height: 48px;
    font-size: 5px;
    margin-left: 2.5%;
    margin-top: 15px;
}
.floatSonDiv{
    float: right;
    width: 100px;
    height: 48px;
    font-size: 5px;
    margin-right: 0;
    margin-top: 15px;

}
.floatGrandsonLi{
    float: left;
    margin-left: 10%;
}
.firstLittleLine{
    width: 95%;
    height: 1px;
    background: rgba(153,153,153,0.4);
    margin-left: 4.1%;
}
.firstBlockChar{
    margin:3% 30% 0 40%;
}
.welcometitleOne{
    width: 116%;
    margin-left: -20%;
    font-weight: 300;
    font-size: 3rem;
}
.welcometitleTwo{
    margin-left: 17%;
    margin-top: 8%;
    font-size: 1.5rem;
}

.firstBlockInput{
    height: 52px;
    width: 100%;
    padding-left: 25px;
    background-image: url(url("commons/ac-assets/ac-toolkit/images/svg/search_icon_black.svg");
    border: 1px solid #bbb;
    outline: 0;
    border-radius: 3px;
    letter-spacing: normal;
    color: #999;
    float: left;
    margin:0 auto;
    font-size: 20px;
}

.firstBlockDivMother{
    width: 300px;
    height: 56px;
    margin:4% auto;
}
.firstBlockDiv{
    margin:49px auto;
    width: 41%;

    height: 56px;
}


.secondBlockMother{
    width: 100%;
    height: 340px;
}
.secondBlockLetter{
    margin-left: 15%;
    margin-top:5%;
    font-size: 24px;
    margin-bottom: 5%;
    padding-left: 30%;
}
.secondBlockPictureMom{
    width: 78%;
    height: 300px;
    margin:0 auto;
}
.secondBlockPicture {
    float: left;
    margin-left: 5%;
    width: 120px;
    height: 153px;
}
.secondBlockPicture a{
    width: 157px;
    height: 179px;
    font-size:15px;
    color: #666;
}
.secondBlockPicture span{
    color: #666;
    text-align: center;
}
.secondBlockPictureOne{
    margin-left: 30px;
    width: 65px;
    height: 139px;
}
.secondBlockPictureTwo{
    width: 92px;
    height: 139px;
}
.secondBlockPictureThree{
    width: 126px;
    height: 139px;
}
.secondBlockPictureFour{
    width: 141px;
    height: 139px;
}
.secondBlockPictureFive{
    width: 96px;
    height: 139px;
}
.secondBlockPictureSix{
    width: 96px;
    height: 139px;
}




.thirdBlockMother{
    width: 100%;
    height: 200px;
}
.secondLittleLine{
    width: 100%;
    height: 1px;
    background: #d9dadc;
}
.thirdBlockLetter{
    line-height: 100px;
    color: #08c;
    margin-top: -30px;
    font-size: 18px;
    margin-left:44%;
}
.thirdBlockSpan{
    font-size: 20px;

}
.thirdBlockLine{
    width: 100%;
    height: 0px;
    border-top: 0.5px #d9dadc solid;
}
.fourthBlockH1{
    font-weight: 200;
    font-size: 3rem;
    margin-left: 41.5%;
    margin-top: 60px;
}
.fourthBlockMother{
    border-bottom: #f1f1f1 2px solid;
    height: 480px;
}
.fourthBlockDivTwo{
    margin:70px auto;
    width: 75%;
    height:27%;
}
.fourthBlockDivTwo img{
    width: 240px;
    height: 150px;
}
.fourthBlockDivTwoLeft{
    width: 40%;
    margin-left: 3%;
    float: left;
}
.fourthBlockDivTwoLeft img{
    margin:0 auto;
}
.fourthBlockDivTwoRight{
    width: 40%;
    margin-left: 14%;
    float: left;
}

.fourthBlockH2 {
    font-weight: 200;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.fourthBlockH3 {
    font-weight: 200;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.fourthBlockDivTwoLeft div p{
    font-size: 1.1rem;
    line-height: 1.75;
    font-weight: 400;
    color: #333;
}
.fourthBlockDivTwo h1{
    margin-top: 10px;
}
.fourthBlockDivTwo p{
    font-size: 1.1rem;
    line-height: 1.75;
    margin-bottom: 15px;
    font-weight: 400;
    color: #333;
}
.fourthBlockDivTwo a{
    font-size: 1rem;
    color: #08c;
    margin-top: 50px;
}
.fifthBlockMother{
    border-bottom: #f1f1f1 2px solid;
    height: 367px;
}
.fifthBlockMiddleDiv{
    width: 60%;
    height: 367px;
    margin:0 auto;
    padding-top: 54px;
}
.fifthBlockLeft{
    width: 47%;
    float: left;
}
.fifthBlockLeft h1{
    font-size: 2.5rem;
    line-height: 1.3;
    margin-bottom: .7em;
    font-weight: 200;
}
.fifthBlockLeft p{
    font-size: 1.3rem;
    line-height: 2;
    font-weight: 200;
    margin-bottom: 7%;
}
.fifthBlockLeft span{
font-size:0.9rem;
color: #08c;
}
.fifthBlockRight{
    width: 47%;
    float: right;
    margin-left: 0;
}
.fifthBlockRight img{
    width: 400px;
    height: 212px;
}
.sixthBlockMother{
    width: 100%;
    height: 330px;
    border-bottom: #f1f1f1 2px solid;
}
.sixthMiddleBlock{
    width: 75%;
    height: 370px;
    margin:0 auto;

}
.sixthMiddleBlock img{
    display: block;
    width: 80px;
    margin:88px auto;
    margin-bottom: 20px;
    height: 80px;

}
.sixthBlockBottom h1{
    font-weight: 200;
    margin-bottom: 30px;
    letter-spacing: -0.014em;
}
.sixthBlockBottom{
    height: 184px;

}

.sixthBlockBottom h1{
    font-weight: 200;
    text-align: center;
    letter-spacing: -0.014em;
    font-size: 3.25rem;
    line-height: 1.125;
}
.sixthBlockBottom p{
    font-weight: 400;
    color: #333;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    margin-bottom: 30px;
    font-size: 1.125rem;
    line-height: 1.45;

}
.sixthBlockBottomA{
    padding-left: 47%;
}
.sixthBlockBottomA span{
    color: #08c;

}
.seventhBlockMother{
    width: 100%;
    height: 490px;
    border-bottom: #f1f1f1 2px solid;
}
.seventhBlockTop,.seventhBlockBottom{
    text-align: center;
    width: 75%;
    margin:0 auto;
}
.seventhBlockTop{
    margin-top: 48px;
    margin-bottom: 50px;
}

.seventhBlockTop h1{
    margin-top: 48px;
    padding-bottom: 18px;
    font-weight: 200;
    letter-spacing: -0.014em;
    font-size: 2.8rem;
    line-height: 1.125;
}
.seventhBlockTop p{
    margin-top: 18px;
    font-size: 1rem;
    line-height: 1.45;
}
.seventhBlockBottom{
    background: #f5f5f5;
    height: 242px;
}
.seventhBlockBottom img{
    display: block;
    width: 40px;
    margin:30px auto;
}
.seventhBlockBottom div{
    float: left;
    width: 20%;
    padding:0 60px;
    height: 162px;
}
.seventhBlockBottom p{
    margin:10px 0;
}
.seventhBlockBottom span:hover{
    color: blue;

}
.seventhBlockBottom h1{
    font-weight: 600;
    font-size: 1rem;
}
.seventhBlockBottom h1:hover{
    color: blue;
}
/*.seventhBlockBottom span:hover{
    color: blue;
}*/
.seventhBlockBottom p:hover{
    text-decoration:none;
    color: #555;

}
.seventhBlockBottom >a{
    width: 100%;
    height: 100%;
}
.blueSpan{
    color: blue;
}
.getHelpDivMother{
    height: 310px;
    border-bottom: #f1f1f1 2px solid;
}
.getHelpH1 h1{
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.getHelpMiddleDiv{
    width: 40%;
    height: 310px;
    margin:0 auto;
}
.getHelpH2P1 h2{
    font-size: 50px;
    margin-bottom: 40px;
    text-align: center;

}
.getHelpH2P1 p{
    font-size: 16px;
    margin-bottom: 40px;
    text-align: center;
}
.getHelpButtonDiv{
    height: 30px;
}
.getHelpButtonDiv button{
    top:0;
    bottom:0;
    width: 87px;
    height: 35px;
    margin-left: 40%;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-shadow: rgba(28, 115, 184, 0.639216) 0px 1px 1px;
    white-space: nowrap;
    background: linear-gradient(rgb(66, 161, 236), rgb(0, 112, 201));
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 119, 204);
    border-image: initial;
    border-radius: 4px;
    padding: 0px 15px;
}
.lectureDiv{
    height: 600px;
    width: 100%;
    border-bottom: #f1f1f1 2px solid;
}
.lectureMiddleDiv{
    height: 430px;
    width: 90%;
    margin:0 auto;
    padding:;
    background-image: url(../Pic/lecture.png);
    background-size: 100%;
}
.lectureDivLetter h1{
    font-weight: 200;
    font-size: 3rem;
    margin-bottom: 25px;
}
.lectureDivLetter p{
    margin-bottom: 25px;
    font-size: 1rem;
}
.lectureDivLetter a{
    color: blue;
    font-weight: 400;
    font-size: 1rem;
}
.lectureMiddleFloatDiv{
    width: 100%;
    height: 150px;
    float: left;
    margin-top: 12%;

}
.lectureDivLetterMother{
    width: 83%;
    height: 140px;
    margin:0 auto;
}
.lectureBlockDivBottom{
    width: 100%;
    height: 170px;
}
.lectureBlockDivBottomMiddle{
    padding-top:3%;
    width: 40%;
    height: 170px;
    margin:0 auto;
}
.lectureBlockDivBottomMiddle h2{
    font-size: 1.2rem;
    text-align: center;
}
.lectureBlockDivBottomMiddleBottom{
    margin-top: 8%;
    height: 50px;
    color: blue;
}
.lectureBlockDivBottomMiddleBottom a{
    margin-left: 35%;
}
.lectureBlockDivBottomMiddleBottom span{
    color: blue;

}
.expandPlanDiv{
    height: 380px;
    border-bottom: #f1f1f1 2px solid;
}
.expandPlanMiddleDiv{
    text-align:center;
    width: 75%;
    height: 330px;
    margin:0 auto;
    padding-top: 48px;
}
.expandPlanMiddleDiv h2{
    margin-bottom: 50px;
    font-size: 1.3rem;
}
.expandPlanMiddleDiv li{
    color: blue;
    font-size: 16px;
    margin-bottom: 20px;
}
.footer{
    height:300px;
    background: #f1f1f1;
}
.footerMiddleDiv{
    width: 80%;
    height: 302px;
    margin-left: 13%;
}
.footerMiddleDivTop{
    width: 100%;
    height: 24px;
    padding:20px 0;
}
.footerMiddleDivMiddle{
    width: 100%;
    height: 142px;
}
.footerMiddleDivBottom{
    width: 100%;
    height: 94px;
    font-size: 11px;
}
.footerMiddleDivMiddleSon{
    width: 25%;
    height: 142px;
    float: left; 
}
.footerMiddleDivBottomTop{
    border-bottom: 1px solid #d6d6d6;
    height: 30%;
}
.footerMiddleDivBottomBottom{
    margin-top: 15px;
}
.footerMiddleDivBottomBottom div{

}
.footerMiddleDivBottomBottom p{
    float: left;
}
.footerMiddleDivBottomTop p{
    float: left;
}
.footerMiddleDivBottomTop a{
    float: left;
}
.footerMiddleDivBottomBottom a{
    float: right;
}
.footerMiddleDivMiddleSon h3{
    font-weight: 600;

}
.footerMiddleDivMiddleSon li{
    font-size: 11px;

}
.footerMiddleDivBottomTop span{
    color: blue;

}
.footerMiddleBottomBottomLeftDiv a{
    float: left;

}
.footerMiddleBottomBottomLeftDiv {
    float: left;
}
.footerMiddleBottomBottomLeftDiv p{
    float: left;
}
.footerMiddleBottomBottomRightDiv{
    float: right;
}
.footerMiddleBottomBottomRightDiv img{
    width:  16px;
    height: 16px;
}
.footerMiddleBottomBottomLeftDiv{
    width: 360px;
    height: 20px;
    margin-left: 4%;
}
.footerMiddleBottomBottomLeftDiv a{
    margin-right: 10px;

}
.footerMiddleBottomBottomLeftDiv div{
    width: 70px;
    height: 14px;
    border-right: 1px solid #d6d6d6;
    float: left;
}
