.clearfix {
	clear: both;
}

.header-middle {
	width: 90%!important;
	height: 142px;
	margin: 0 auto;
}

/*.header-middle-top {
	width: 93%;
	height: 90px;
	margin: 0 auto;
	border-bottom: 1px solid rgb(242,242,242);
}*/

.QQ-music {
	height: 90px;
	width: 100%;
	border-bottom: 1px solid rgb(242,242,242);
	font-size: 18px;
}

.QQ-music img {
	display: block;
	margin-top: 14px;
	float: left;
	width: 190px;
	height: 52px;
}

.header-music-club {
	width: 400px;
	margin-left: 18px;
	height: 90px;
	float: left;
}

.header-music-club a {
	width: 94px;
	line-height: 90px;
	text-align: center;
	font-size: 18px;
	margin-top: 0;
	height: 90px;
	float: left;
}

.header-music-club-green {
	background: #31c27c;
	color: white;
}

.VIP {
	display: inline-block;
	margin-top: -23px!important;
}

.header-music-club-green:hover {
	color: white!important;
}
	
.header-music-club a:hover {
	color:#31c27c;
	text-decoration: none;	
}

.header a:hover {
	color: #31c27c;
	text-decoration: none;
}

.search {
	width: 250px;
	height: 38px;
	float: left;
	margin-top: 22px;
	margin-right: 20px;
	border: 1px solid rgb(201,201,201);
}

.search-input {
	width: 200px;
	height: 36px;
	border: 0;
	margin-top: auto;
	margin-bottom: auto;
	padding-left: 10px;
}

.search-img {
	width: 16px;
    height: 16px;
    float: right;
	background-image: url(./images/icon_sprite.png);
	background-position: 0 -40px;
}
.button-green-diamond {
	width: 155px;
	height: 40px;
	color: white;
	background: #31c27c;
	border: 0;
	border-radius: 5px;
	margin-right: 10px;
	margin-left: 20px;
}

.button-green-diamond:hover {
	color: black;
	background: #2caf6f;
	border-color: #2caf6f;
}

.button-music-bag {
	width: 89px;
	height: 40px;
	border: 0;
	background: white;
	border: 1px solid rgb(201,201,201);
}

.button-music-bag:hover {
	color: #333;
	background: #c9c9c9;
}

.header-sigh-in input:hover {
	color: white;
}

.header-sigh-in {
	width: 334px;
	float: left;
	height: 90px;
	line-height: 90px;
}

.header-leader {
	width: 566px;
	height: 52px;
	margin: 0 auto;
	font-size: 15px;
}

.header-leader li{
	float: left;
	width: 94px;
	height: 52px;
	line-height: 52px;
}

.main {
	background: url(../images/bg_detail.jpg) no-repeat;
	padding-top: 60px;
}

.main-middle {
	width: 90%!important;
	margin: 0 auto;
}

.main-middle-left {
	width: 178px;
	height: 610px;
	float: left;
	border: 1px solid rgb(201,201,201);
}

.left-menu {
	font-size: 20px;
	font-weight: 400;
	height: 60px;
	line-height: 60px;
	margin: 0 17px 10px;
	border-bottom: 1px solid rgb(201,201,201)
}

.main-middle-left li {
	width: 144px;
	height: 22px;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	padding: 8px 17px;
}

.main-middle-left a:hover {
	color: #2caf6f;
}

.left-menu-huawei {
	height: 40px!important;
}

.left-menu-car {
	background: #2caf6f;
	height: 40px!important;
}

.main-middle-right {
	width: 990px;
	height: 2854px;
	display: inline-block;
	margin-left: 40px;
}

.right-header-top a {
	float: left;
	font-size: 14px;
	line-height: 64px;
}

.right-header-top a:hover {
	color: #2caf6f;
}

.right-header-top p {
	width: 400px;
	height: 64px;
	font-size: 24px;
	font-weight: 400;
	float: left;
}

.right-header-top span {
	font-size: 14px;
	line-height: 64px;
	font-weight: 100;
	margin-left: 10px;
	color: #333;
}

.right-header-bottom i{
	display: inline-block;
}

.right-header-bottom a {
	display: block;
	width: 74px;
	height: 38px;
	float: left;
	line-height: 38px;
	font-size: 14px;
	padding-left: 23px;
	padding-right: 23px; 
	border: 1px solid rgb(201,201,201);
	margin-right: 20px;
	text-align: center;
}

.right-header-bottom a:hover {
	background: #c9c9c9;
}

.play-all-button {
	color: white;
	background: #31c27c;
}

.play-all-button:hover {
	background: #2caf6f!important;
	border-color: #2caf6f;
}

.right-header-play{
	width: 13px;
    height: 16px;
    background-position: -80px -220px;
	background-image: url(../images/icon_sprite.png);
}

.right-header-add{
	width: 16px;
    height: 16px;
    background-position: -20px 0;
	background-image: url(../images/icon_sprite.png);
}

.right-header-down{
	width: 16px;
    height: 16px;
    background-position: -40px -220px;
	background-image: url(../images/icon_sprite.png);
}

.right-header-operate{
	width: 16px;
    height: 16px;
    background-position: -120px 0;
	background-image: url(../images/icon_sprite.png);
}

.music {
	width: 990px;
	height: 2560px;
	float: right;
}

.music-menu {
	width: 84%;
	height: 50px;
	padding-left: 122px;
}

.music p {
	display: inline-block;
	line-height: 50px;
	font-size: 14px;
	height: 50px;
}

.menu-music {
	width: 72%;

}

.song-name:hover {
	color: #2caf6f;
}

.song-singer:hover {
	color: #2caf6f;
} 

/*.song-name div {
	float: right;

}

.hidden-play,.hidden-add,.hidden-download,.hidden-share {
	width: 36px;
	height: 36px;
	line-height: 50px;
	display: none;
}

.hidden-play,.hidden-add,.hidden-download,.hidden-share:hover {
	display: block;
	background-image: url(../images/icon_list_menu.png);
}

.hidden-play:hover {
	background-position: 0 0;
}

.hidden-add:hover {
	background-position: 0 -80px;
}

.hidden-download:hover {
	background-position: 0 -120px;
}

.hidden-share:hover {
	background-position: 0 -40px;
}
*/
.menu-singer {
	width:20.6%;
}

.menu-timelength {
	width: 50px;
	height: 50px;
	text-align: center;	
}


/*.list-main-div {*/

.music-list li {
	height: 80px;
}	

.list-main-div span,.list-main-div i,.list-main-div img,.list-main-div div,.list-main-div p {
	float: left;
	height: 80px;
	display: block;	
	line-height: 80px;
}

.list-main-div div {
	text-align: left;
}

.list-main-div img {
	width: 70px;
	height: 70px;
	line-height: 80px;
}

.list-main-div i {
	background-image: url(../images/icon_rank.png);
}

.song-num {	
	width: 45px;
	text-align: right;
	font-size: 24px;
}

.special-song-num {
	color: #ff4222!important;
}

.song-liftanddown {
	width: 14px;
	height: 3px!important;
	margin: 38px 26px 0 25px;
    /*margin-left: 30px;
    margin-right: 26px;
*/	background-position: 0 -30px;

}

.song-name {
	margin-left: 30px;
	width: 50.5%;
}

.song-singer {
	width: 18.6%
}

.song-timelength {
	width: 50px;
	height: 50px;
}

.song-liftanddown-new {
	width: 23px;
    height: 8px!important;
	margin: 38px 26px 0 20px;
    
    background-position: 0 -40px;
}

.song-liftanddown-down {
	width: 14px;
    height: 13px!important;
	margin: 23px 26px 0 25px;
    background-position: 0 -15px;
}

.song-liftanddown-Down {
	width: 70px;
}

.list-main-div div span {
	height: 10px;
    margin-left: 28px;
    margin-top: -30px;
}

.song-liftanddown-Lift {
	width: 70px;
}

.song-liftanddown-lift{
	width: 14px;
    height: 13px!important;
    margin: 23px 26px 0 25px;
    background-position: 0 0;
}

.song-liftanddown-Lift span {
	margin-left: 21px!important;
}

.song-liftanddown-Lift-little span {
	margin-left: 27px!important;
}

.music-page {
	width: 410px;
	height: 55px;
	margin-left: 18%;
	margin-top: 60px;
}

.music-page div {
	width: 55px;
	margin-right: 3.5px;
	float: left;
	text-align: center;
	line-height: 55px;
	font-size: 16px;
	font-weight: 400;
	color: #a2a2a2;
	height: 55px;
}

.music-active-page1 {
	background: #31c27c;
	color: white!important;
}

.music-active-page:hover {
	background: #31c27c;
	color: white;
}

.footer {
	background-color: rgb(51,51,51);
	height: 470px;
	width: 100%;
	padding-top: 75px;
	color: #999;
}

.footer a {
	color: #999;
}

.footer-top {
	width: 90%;
	height: 250px;
	margin: 0 auto;
}

.footer-top-left {
	width: 355px;
	height: 100%;
	display: inline-block;
}

.footer-top-left h1{
	display: block;
    width: 100%;
}

.footer-top-left div,.footer-top-middle div {
	float: left;
	margin-top: 50px;
	width: 88px;
}

.footer-top-middle {
	width: 326px;
	height: 100%;
	margin: 0 auto;
	display: inline-block;
}

.footer-top-right {
	width: 290px;
	height: 100%;
	display: inline-block;
}

.footer-top-middle div a {
	float: left;
}
