
.head{
	width: 100%;
	height: 50px;
	padding:10px 0 0 0;
	background-color: rgb(34,137,193);
}
.head>img{
	float: left;
	margin-left: 4%;
	position: 0 10px;
}
#label1{
         border-radius: 14px;
         line-height: 23px;
         width: 273px;
         background-image: }
.hm2{
	float: right;
	margin-right: 10%;
}
.hm3{
	float: right;
	margin-right: 10%;
}
.head2{
	float: left;
	margin-left: 50%;
}
.hd21,.hd22{
	float: left;
}
.clearfix{
	clear: both;
}            
.lside{
	width: 20%;
    height: 1215px;
	background-color: rgb(42,46,61);
	float: left;
}
.lone{
	height: 7%;
	padding-top: 15%;
}
.lonem1{
	margin-left: 10%;
	float: left;

}
.loneletter{
	float: right;
	margin-right: 35%;
	margin-top: 7%;
}
.lone span{
	color: rgb(185,186,190);
	font-weight: bold;
	display: block;
}
.ltwo{
	height: 4%;
}
.ltwoletter1{
	float: left;
	width: 30px;
	color:rgb(185,186,190);
	margin-left: 20%;
}
.ltwoletter2{
	float: right;
	width: 70px;
	color:rgb(185,186,190);
	margin-right: 20%;
}
.lthree{
	background-color: rgb(56,62,78);
	padding-top: 5px;
}
.lthreecenter{
	height: 178px;
	width: 170px;
	margin-left: 5%;
}
.lthreecenter li{
	line-height: 28px;
}
.lthreecenter a:hover{
	color: white;

}
.ltch1{
	float: left;
}
.ltch2{
	float: left;
	margin-left: 25px;
}
.ltch3{
	float: left;
	margin-left: 60px;
}
.lfour ol{
	margin-left: 5%;
	line-height: 35px;
}
.rside{
	background-color: rgb(238,238,238);
	height: 1215px;
	width: 80%;
	float: right;
}

.rh1{
	background-color: white;
	padding-left: 4em;
}
.rh1s1,.rh1s1 a{
	color:#aaa;
	float: left;
	font-size: 14px;
}
.rh1s2 a{
	color:rgb(33,137,191);
	text-decoration-line: none;
}
.rb1{
	width: 86.1%;
	height: 5%;
	padding-top: 1%;
	background-color: white;
	margin: 20px 0 0 7%;
}
.rb1 label{
	color: #aaa;
}
.rb1d1{
	width: 16%;
	float: left;
	margin-left: 3%;
}
.rb1d2{
	width: 14%;
	float: left;
}
.rb1d2i{
	float: left;
	margin-right: 60px;
}
.rb1d3{
	width: 35%;
	float: left;

}
.rb1d31{
	width: 47%;
	float: left;	
}
.rb1d32{
	width: 35%;
	float: left;
}
.rb1b1{
	width: 50px;
	height: 30px;
	float: left;
	margin-top: 1%;
	background-color: rgb(33,137,191);
	color: white;
}
.rb2{
	width: 92%;
	height: 6%;
	padding-top: 1%;
	margin: 20px 0 0 7%;
}
.rb2 button{
	background: white url(./firstsc/close_arrow.png ) no-repeat;
	background-position: 8px 30px;
    float: left;
	width: 29px;
	height: 77px;
}
.button2{
	margin-right: 7px;
}
.rb2 li{
	float: left;
	width: 111px;
	height: 65px;
	margin-left: 7px;
	margin-right: 3.5px;
	text-align: center;
	padding-top: 12px;
	background-color: white;

}
.rb2 span{
	color: #ec6602;
	font-size: 21px;	
}
.rb2 time{
	color: #323333;
	font-size: 12px;
}
.history{
	width: 136px;
	height: 77px;
	float: left;
	margin-left: 7px;
	background: white url(./firstsc/QQ截图20161022131318.png) no-repeat;
    background-position:10px 10px;
}
.history a {
      float: right;
      margin:25px 30px 0 10px;
}

.history a:hover {
	color: #323333;
	font-size: 12px;
}
.rb3{
	width: 92%;
	height: 6%;
	padding-top: 1%;
	margin: 20px 0 0 7%;
}
.rb3 li{
	width: 200px;
	height: 57px;
	margin-right: 36.5px;
	padding-left: 5px;
	float: left;
	background-color: white;
}
.rb3 div{
	float: left;
}
.rb31{
	width: 60px;
	height: 48px;
	margin:2% 2% 0 40%;
}
.a{
	width: 57px;
	float: right;
	background-color:#43b29d;
}
.b{
	background-color:#388ac1;
}
.c{
	background-color: rgb(208,75,54);
}
.d{
	background-color: rgb(226,205,70);
}
.rb3 h3{
	color: #323333;
	font-size: 100%;
}
.rb32 span{
	color: red；
	font-size:12px;
	line-height: 24px;
}
.rb3 li{
	height: 80px;
}
.rb3 li div{
	margin:10% 22% 0 auto;
}
.rb32{
	margin-left: 30px;
}
67，187,157
56,138，193
208,75,54
226,205,70